{% extends "layout.html" %}

{% block body %}

<h1>Profile</h1>

<table style="margin-bottom: 30px;">
  <tr>
    <td style="padding: 5px 70px 5px 0px"><b>Name</b></td>
    <td>{{ user.name }}</td>
  </tr>
  <tr>
    <td style="padding: 5px 70px 5px 0px;"><b>Username</b></td>
    <td>{{ user.username }}</td>
  </tr>
  <tr>
    <td style="padding: 5px 70px 5px 0px;"><b>Member since</b></td>
    <td>{{ user.date_created }}</td>
  </tr>
</table>

<h2>My Products</h2>
<p>Selling {{ item_count }} items</p>

<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead class="thead-light">
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </thead>
    {% for product in user.products %}
    <tbody>
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.category.name }}</td>

        <td>
          <form method="POST" action="{{ url_for('products_set_description', product_id=product.id) }}">
            <div class="form-row align-items-center">
              <div class="col">
                <input type="text" class="form-control form-control-sm" name=newdesc
                  placeholder="insert a new description" />
              </div>
              <div class="col">
                <button class="btn btn-outline-secondary btn-sm" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </td>

        <td>
          <form method="POST" action="{{ url_for('products_delete', product_id=product.id) }}">
            <div class="form-row align-items-center">
              <div class="col">
                <button class="btn btn-outline-danger btn-sm" type="submit" value="Delete">Delete</button>
              </div>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h2>My Orders</h2>
<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead class="thead-light">
      <th scope="col">Product name</th>
      <th scope="col">Product price</th>
      <th scope="col">Product description</th>
      <th scope="col">Date ordered</th>
    </thead>     

      {% for order, product in orders %}
    <tbody>
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ order.date_created }}</td>
      </tr>
        {% endfor %}
 
  
    </tbody>
  </table>
</div>

{% endblock %}