{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="pb-2 mt-5 mb-4 border-bottom">
      <h1>WebStore</h1>
  </div>
</div>

<!-- <label for="site-search">Search the site:</label> -->
<!-- <input type="search" id="site-search" name="q" aria-label="Search through site content"> -->

<!--<button>Search</button> -->

<table cellpadding="10">
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Description</th>
    <th>Seller</th>
    <th>Category</th>
  </tr>
  {% for product in products %}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.account.username }}</td>
    <td>{{ product.category.name }}</td>
  </tr>
  {% endfor %}
</table>



{% endblock %}